/* Proyecto realizado por: José A. Rodríguez López-->
 * Fecha: 10/10/2022
 */

main {
  display: grid;
  grid-template-areas:
    'a a a'
    'b b c'
    'd d d';
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.cabecera {
  grid-area: a;
  margin: 10px 10px 5px 10px;
}

.cabecera h1 {
  background-color:#beb5ef;
  padding-left: 20px;
  margin: 0px;
  text-decoration: underline;
  text-align: center;
}

#cerrar_navegador {
  background: linear-gradient(to right, rgb(231, 237, 153), rgb(136, 244, 246));
  color: blueviolet;
  text-decoration: underline;
  font-weight: bold;
  padding-left: 20px;
  font-weight: bold;
  margin: 0px;
}

.ahorcado {
  background: rgb(251, 187, 164);
  grid-area: b;
  margin: 10px 5px 10px 40px;
  padding: 30px;
}

.ahorcado div {
  padding: 40px;
}

.ahorcado div input{
  margin:20px;
}

aside {
  grid-area: c;
  margin-top: 5px;
  margin: 5px 10px 10px 10px;
}

aside div {
  margin: 10px;
  background-color: rgb(245, 217, 217);
  padding: 10px;
}

.pie {
  grid-area: d;
  margin-top: 20px;
  background-color: white;
  text-align: center;
  font-size: 15px;
  font-style: italic;
  padding: 0px;
  border-top: solid 1px black;
}

label,
input,
#cerrar_navegador {
  font-size: 17px;
}

label {
  font-weight: bold;
}

input {
  margin-left: 0px;
  width: 400px;
}

#input_letra {
  text-align: center;
  width: 20px;
}

