/* Proyecto realizado por: José A. Rodríguez López-->
 * Fecha: 10/10/2022
 */

main {
  display: grid;
  grid-template-areas:
    'a a a a'
    'b b b c'
    'b b b c'
    'd d d d';
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cabecera {
  grid-area: a;
  margin: 10px;
}

#contenedor{
  background-color: #beb5ef;
  width: 100%;
  margin:0;
  display: flex;
  justify-content: center;
  }

#titulo {
  display: flex;
  flex-direction: row;
 
}

.cabecera > div div {
  background-color: #beb5ef;
  padding-top: 15px;
  padding-left:75px;
  padding-right: 75px;
  padding-bottom: 15px;
  margin: 0px;
}

#tit_principal {
  background-color: #beb5ef;
  text-decoration: underline;
  text-align: center;
  padding: 15px;
  margin: 0px;
  top: 50%;
}

#cerrar {
  background: linear-gradient(to right, rgb(231, 237, 153), rgb(136, 244, 246));
  color: blueviolet;
  text-decoration: underline;
  font-weight: bold;
  padding: 15px;
  margin: 0px;
  text-align: left;
}

.ahorcado {
  background: rgb(251, 187, 164);
  grid-area: b;
  margin: 10px 5px 10px 10px;
  padding: 30px;
}

.ahorcado div {
  padding: 40px;
}

.ahorcado div input {
  margin: 20px;
}

aside {
  grid-area: c;
  margin: 0px 0px 10px 5px;
}

aside div {
  margin: 10px;
  background-color: rgb(245, 217, 217);
  padding: 10px;
}

.pie {
  grid-area: d;
  margin-top: 20px;
  background-color: white;
  text-align: center;
  font-size: 15px;
  font-style: italic;
  padding: 0px;
  border-top: solid 1px black;
}

label,
input,
#cerrar_navegador {
  font-size: 17px;
}

label {
  font-weight: bold;
}

input {
  margin-left: 0px;
  width: 400px;
}

#input_letra {
  text-align: center;
  width: 20px;
}